#Question1

In [25]:
v = ("dipa",[1,2,3],1.5,(1,3,5))

In [26]:
v

('dipa', [1, 2, 3], 1.5, (1, 3, 5))

#Question2

var1=String
var2=String
var3=List
var4=Integer

#Question3

1." / " acts as Division operator. That is if we devide 7 by 2 it should results to 3.5.

In [22]:
7/2

3.5

2." % " acts as Modulus operator. That is it will return back the reminder of devision.

In [21]:
7%2

1

3." // " acts as Floor Division operator. That is it will devide the first number by second one and return back the result in nearest whole number

In [20]:
7//2

3

4." ** " acts as Floor Exponential operator. That is it will multiply the first number with itself by the number of times as second number

In [19]:
7**2

49

#Question4

In [18]:
L= [1,5.2,"home",True,8,6.3,2023,'people',False,9]
for i in L:
    print(i,type(i))

1 <class 'int'>
5.2 <class 'float'>
home <class 'str'>
True <class 'bool'>
8 <class 'int'>
6.3 <class 'float'>
2023 <class 'int'>
people <class 'str'>
False <class 'bool'>
9 <class 'int'>

#Question5

In [1]:
A=int(input())
B=int(input())
count=0
while A%B==0:
    A=A//B
    count=count+1
if A==1:
    print("A is perfectly divisible by B and the number of divition is ",count)
else:
    print("A is not perfectly divisible by B")

 8
 2

A is perfectly divisible by B and the number of divition is  3

#Question6

In [2]:
L=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in L :
    if i%3==0:
        print (i," is divisible by 3")
    else:
        print (i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

#Question7

In mutable data type we can modify the elements in the data. But for immutable one we can not modify any element of it.
List is mutable and String is immutable.

In [10]:
L=[1,"y",5]

In [13]:
L[2]="x"

In [14]:
L

[1, 'y', 'x']

Here in list L we can able to change element 5 to x. So List is mutable

In [16]:
S='It is my family'
S[6]

'm'

In [17]:
S[6]=9

TypeError: 'str' object does not support item assignment

String does not suport this kind of operation